<nav>
<ul>
    <li class="titre"><a href="">Vegefoods</a></li>
    <li><a href="">Home</a></li>
    <li><a href="">Shop</a></li>
    <li><a href="">About</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contact</a></li>
</ul></nav>
<div class="agr">
  
  <div class="text">
    <h1 >100% Fresh &amp; Organic Foods</h1>
    <h2 >We deliver organic vegetables &amp; fruits</h2>
    <p><a href="#" class="btn btn-primary">View Details</a></p>
  </div>
</div>
<br><br>
<div class="media-body"><img src="/public/shipped.png" alt="" class="icon"> 
 <img src="/public/diet.png" alt="" class="icon">
<img src="/public/rating.png" alt="" class="icon">
<img src="/public/help-desk.png" alt="" class="icon">

<div><h3 >Free Shoping</h3>
    <span>On order over $100</span></div>
    <div><h3 >Always Fresh</h3>
        <span>Product well package</span></div>
        <div><h3 >Superior Quality</h3>
          <span>Quality Products</span></div>
        <div><h3 >Support</h3>
            <span>24/7 Support</span></div>
    
    </div>
    <br><br>
<div class="container2">
    <div class="right">
        <img src="/public/category-1.jpg" alt="" class="images">
        <div class="fruit"><a href="" >Fruits</a></div>
        <img src="/public/category-2.jpg" alt="" class="images">
        <div class="Vegetables"><a href="">Vegetables</a></div>
    </div>
    <div class="center">
        <div class="obj"><h1>Vegetables</h1>
            <p>Protect the health of every home</p>
            <p><a href=""  class="btn btn-primary">Shop now</a></p></div>
        <img src="/public/category.jpg" alt="" class="image">
        
    </div>
    <div class="left">
        <img src="/public/category-3.jpg" alt="" class="images">
        <div class="Juices"><a href="">Juices</a></div>
        <img src="/public/category-4.jpg" alt="" class="images">
        <div class="Dried"><a href="">Dried</a></div>
    </div>
    
</div><br><br>
<div class="container3">
    <p>Featured Products</p>
    <h1>Our Products</h1>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
</div>

<div class="container4">
    <div class="p1">
        <span>30%</span>
        <a href=""><img src="/public/product-1.jpg" alt="" class="imge"></a>
        <p>Bell Pepper</p>
        <div class="p2">
            <div class="icons">
                <a href=""><img src="/public/list.png" alt="" class="icone"></a>
                <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
                <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
            </div>
            <del>$120.00</del>
            <p>$80.00</p>
        </div>
    </div>

    <div class="p1">
    <a href=""><img src="/public/product-2.jpg" alt="" class="imge"></a>
    <p>Strawberry</p>
    <div class="p2">
        <div class="icons">
            <a href=""><img src="/public/list.png" alt="" class="icone"></a>
            <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
            <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
        </div>
        <del>$120.00</del>
        <p>$80.00</p>
    </div>
</div>
    <div class="p1">
    <a href=""><img src="/public/product-3.jpg" alt="" class="imge"></a>
    <p>Green Beans</p>
    <div class="p2">
        <div class="icons">
            <a href=""><img src="/public/list.png" alt="" class="icone"></a>
            <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
            <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
        </div>
        <del>$120.00</del>
        <p>$80.00</p>
    </div>
</div>
    <div class="p1">
    <a href=""><img src="/public/product-4.jpg" alt="" class="imge"></a>
    <p>Purple Cabbage</p>
    <div class="p2">
        <div class="icons">
            <a href=""><img src="/public/list.png" alt="" class="icone"></a>
            <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
            <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
        </div>
        <del>$120.00</del>
        <p>$80.00</p>
    </div>
</div> 
</div>
<br><br>
<div class="container4">
    <div class="p1">
        <span>30%</span>
        <a href=""><img src="/public/product-5.jpg" alt="" class="imge"></a>
        <p>Tomate</p>
        <div class="p2">
            <div class="icons">
                <a href=""><img src="/public/list.png" alt="" class="icone"></a>
                <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
                <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
            </div>
            <del>$120.00</del>
            <p>$80.00</p>
        </div>
    </div>

    <div class="p1">
    <a href=""><img src="/public/product-6.jpg" alt="" class="imge"></a>
    <p>Brocolli</p>
    <div class="p2">
        <div class="icons">
            <a href=""><img src="/public/list.png" alt="" class="icone"></a>
            <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
            <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
        </div>
        <del>$120.00</del>
        <p>$80.00</p>
    </div>
</div>
    <div class="p1">
    <a href=""><img src="/public/product-7.jpg" alt="" class="imge"></a>
    <p>Carrots</p>
    <div class="p2">
        <div class="icons">
            <a href=""><img src="/public/list.png" alt="" class="icone"></a>
            <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
            <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
        </div>
        <del>$120.00</del>
        <p>$80.00</p>
    </div>
</div>
    <div class="p1">
    <a href=""><img src="/public/product-8.jpg" alt="" class="imge"></a>
    <p>Fruit Juice</p>
    <div class="p2">
        <div class="icons">
            <a href=""><img src="/public/list.png" alt="" class="icone"></a>
            <a href=""><img src="/public/circle.png" alt="" class="icone"></a>
            <a href=""><img src="/public/shopping-cart.png" alt="" class="icone"></a>
        </div>
        <del>$120.00</del>
        <p>$80.00</p>
    </div>
</div> 
</div><br><br>
<div class="container5">
    <img src="/public/bg_3.jpg" alt="">
    <div class="text2">
        <p>
            Best Price For You<br>
            <strong>Deal of the day</strong><br>
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia<br>
            <strong class="f">Spinach</strong><br>
            <strong class="f"> $10 now $5 only</strong>
        </p>
    </div>
</div>
<br><br>
