ul {
    display: flex;
   
    align-items: center; /* Aligne verticalement */
    background-color: rgb(246, 246, 246);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.titre {
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.titre a {
    color: green; 
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.titre a:hover{
    color: black;
}
li {
    margin: 0; /* Supprime les marges par défaut */
}

nav li a {
    color: black;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 10%;
}

nav li a:hover {
    background-color: green;
    width: auto;
}
.agr {
    position: relative; /* Nécessaire pour positionner le texte par-dessus */
    width: 100%;
    height: 100vh; /* La hauteur de l'image est 1/4 de la hauteur de la page (25%) */
    overflow: hidden; /* Empêche l'image de déborder */
    background-image: url(/public/bg_2.jpg);
    animation-name: pre;
        animation-duration: 10s;
        animation-iteration-count: infinite;
  }


 .text{
        position: absolute;
        top: 0; /* Le texte commence en haut */
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center; /* Centre le texte verticalement */
        justify-content: center; /* Centre le texte horizontalement */
        background-color: transparent; /* Fond semi-transparent pour le texte */
        color:white;
        flex-direction: column;
        row-gap: 50px;
      }
      .btn {
        border-radius: 20px;
        background-color: rgb(44, 181, 44);
      }
      .btn:hover{background-color: transparent;}
      @keyframes pre{
        50%{background-image: url(/public/bg_1.jpg);}
        100%{background-image:url(/public/bg_2.jpg);  }
      }
       .media-body{
        display: flex;
  justify-content: center; /* Centrer l'icône */
  align-items: center;
  margin-top: 20px;
  
  gap: 15%;
        }
        .icon {
            width: 100px; /* Taille de l'icône */
            height: 100px; /* Taille de l'icône */
            object-fit: cover; /* Pour que l'image remplisse l'espace sans déformation */
            border-radius: 50%; /* Pour rendre l'image circulaire (icône ronde) */
            border: 2px solid #fff; /* Bordure blanche autour de l'icône */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Ombre douce autour de l'icône */
            transition: transform 0.3s ease; /* Transition pour l'effet de zoom */
           
          }
        h3{
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 500;
            font-family: font-primary;
            color: black;
            text-align: center;
   
  
        }
        span{
            text-transform: uppercase;
            color: rgba(0,0,0,.5);
            font-size: 12px;
     
            
        }
    .container1{
        display: flex;
        justify-content: center; /* Centrer l'icône */
        text-align: center;
        margin-top: 20px;
    gap:15%}

    .icon:nth-child(1){
        background-color: violet;
    }
    .icon:nth-child(2){
        background-color: rgba(179, 103, 73, 0.358);
    }
    .icon:nth-child(3){
        background-color: aqua;
    }
    .icon:nth-child(4){
        background-color: rgba(179, 103, 73, 0.358);
    }
    .icon:hover{
        background-color: rgb(48, 200, 48);
    }
    .left, .right {
        display: flex;
        flex-direction: column; /* Empiler les images verticalement */
        gap: 20px; /* Espacement entre les images */
      }
      .container2 {
        display: flex;
        justify-content: center; /* Centrer le contenu horizontalement */
        align-items: center; /* Centrer le contenu verticalement */
        height: 100%; /* Utiliser toute la hauteur de la page */
        gap: 30px; /* Espacement entre les colonnes */
      }
      .images {
        width: 350px; /* Largeur de l'image */
        height: 250px; /* Laisser la hauteur se redimensionner automatiquement */
        object-fit: cover; /* Assurer que l'image garde ses proportions */
         /* Ajout d'un léger arrondi aux bords de l'image */
      }
      .center {
        display: flex;
        justify-content: center; /* Centrer l'image */
      }
      

   .image{
        height: fit-content;
        width: 350px;
        object-fit: cover;
      }
      .obj{
        
        position:absolute;
        
        justify-content: center;
        text-align: center;
        gap: 10px;
        flex-direction: column;
        
        
      }
      .obj .btn{
        border-radius: 20px;
        background-color: rgb(44, 181, 44);
        width: auto;
      }
      .obj .btn:hover{
        color: green;
        background-color: rgb(237, 237, 237);
      }
      .fruit {
        position:absolute;
        margin-top: 14%;
        border: 2px solid rgb(81, 168, 81);
        background-color: rgb(81, 168, 81);
        padding: 5px;
        width: 5%;
        text-align: center;
        
        
      }
      .fruit a{
        color: white;
        text-decoration: none;
        
      }

      .Vegetables{
        position: absolute;
        margin-top: 32%;
        border: 2px solid ;
        border: 2px solid rgb(81, 168, 81);
        background-color: rgb(81, 168, 81);
        padding: 5px;
        width:7%;
        text-align: center;
      }
      .Vegetables a{
        text-decoration: none;
        color: white;
      }
      .Juices{
        position:absolute;
        margin-top: 14%;
        border: 2px solid rgb(81, 168, 81);
        background-color: rgb(81, 168, 81);
        padding: 5px;
        width: 7%;
        text-align: center; 
      }
      .Juices a{
        text-decoration: none;
        color: white;
      }
      .Dried{
        position: absolute;
        margin-top: 32%;
        border: 2px solid ;
        border: 2px solid rgb(81, 168, 81);
        background-color: rgb(81, 168, 81);
        padding: 5px;
        width:7%;
        text-align: center;
      }
      .Dried a{
        text-decoration: none;
        color: white;
      }
      .container3{
        text-align: center;
        margin-top: 8%;
      }
      .container3 p:nth-child(1){
        color: rgb(74, 168, 74);
      }
      .container3 p:nth-child(3){
        color: rgb(170, 170, 170);
      }
      .container4{
        display: flex;
        gap: 50px;
        justify-content: center;
        
        
      }
      .container4 .imge {
        
        width: 300px;
        height: 200px;
        
      }
      .p1 { 
        text-align: center;
        border: 1px solid rgb(224, 230, 231);
        position: relative;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
      }
      .container4 span{
        border: 1px solid rgb(2, 183, 47);
        position: absolute;
        background-color: rgb(2, 183, 47);
        width: 20%;
      }
      .icons {
        position: absolute;
        top: 8%; /* Adjust position above the price */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        background-color: white;
        justify-content: center;
        visibility: hidden; /* Initially hidden */
        opacity: 0; /* Initially invisible */
        transition: visibility 0s, opacity 0.3s ease-in-out;
    }
    
    .icone {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        
        
    }
    
      .p1:hover .icons  {
        visibility: visible;
        opacity: 1;
        
    }
      .p1:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        
    }
      
    .p2 {
        position: relative; /* Make icons position relative to this container */
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }
   
    .p2 del, .p2 p {
        text-align: center;
        
    }
   
   .container5 .text2{
   position: absolute;
    
   top:10%;
   left:50%;
   line-height: 2.5

    
}
    
    .container5{
        position: relative;
        overflow: hidden;
    }   
        
   
    .container5 img{
        width: 100%;
        height:60vh;
        overflow: cover;
        
        
    }
    .text2 strong{
        font-size: 35px;
        color:black;
    }
    .text2 p{
        color: rgb(59, 202, 59);
    }
    .text2 .f{
        color:rgb(59, 202, 59);
    }